.footer {
    position:relative;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
    margin-top: 30px;
}

#formulario {
	margin-top: 70px;
}

#legend {
	font-size: 16px !important;
}

.resultadoBusca {
	border: 0.5px solid black;
}

.qtdHorasAtividades {
	border: 0.5px solid black;
}

#mostra-alerta {
    margin-top: 100px;
    margin-bottom: -90px;
    text-align: center;
}

.imagem {
    margin-top: 100px;
    margin-bottom: -40px;
    text-align: center;
    
}